
// PARTIALS
@import "partials/reset";

// MIXINS

$breakpoints: (
  'medium': 500px,
  'large':  800px
) !default;

@mixin respond-to($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media only screen and (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}


// VARIABLES
$back: #4B0A34;
$color1: #FBAD86;
$color2: #338F8E;
$textcolor: 080000;
$divColor: #FF3B58;
$tempColor: #FEECD6;

// STYLES

body {
  background-color: $back;
}

// HEADER
h1{
  text-align: center;
  color: $textcolor;
  font-size: 50px;
  background-color: $color1;
  height: 100px;
}

#main{
  background-color: $color2;
  height: 800px;
  width: 800px;
  display: flex;
  margin: auto;
  justify-content: center;
  flex-flow: row wrap;

  #display{
    background-color: $tempColor;
    height: 650px;
    width: 650px;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: flex-end;

    .blocks{
      background-color: $divColor;
      text-align: center;
      margin-left: 5px;
      width: 20px;
      color: $textcolor
    }
  }
}

button{
  font:20px Calibri, Arial, sans-serif;
  color: purple;
  text-shadow:1px 1px 0 rgba(255,255,255,0.4);
  height: 100px;
  width: 100px;
  border-radius: 50px;
  background-position: top left;
  background-image: url('/css/images/rainbowbubb.jpg')
}


