html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background-color: #4B0A34; }

h1 {
  text-align: center;
  color: 80000;
  font-size: 50px;
  background-color: #FBAD86;
  height: 100px; }

#main {
  background-color: #338F8E;
  height: 800px;
  width: 800px;
  display: flex;
  margin: auto;
  justify-content: center;
  flex-flow: row wrap; }
  #main #display {
    background-color: #FEECD6;
    height: 650px;
    width: 650px;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: flex-end; }
    #main #display .blocks {
      background-color: #FF3B58;
      text-align: center;
      margin-left: 5px;
      width: 20px;
      color: 80000; }

button {
  font: 20px Calibri, Arial, sans-serif;
  color: purple;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.4);
  height: 100px;
  width: 100px;
  border-radius: 50px;
  background-position: top left;
  background-image: url("/css/images/rainbowbubb.jpg"); }
